<?xml version="1.0" encoding="UTF-8"?>
<launch>
	<arg name="reference_pointcloud_filename" default="" />
	<arg name="reference_pointcloud_preprocessed_save_filename" default="" />
	<arg name="reference_pointcloud_keypoints_filename" default="" />
	<arg name="reference_pointcloud_keypoints_save_filename" default="" />
	<arg name="reference_pointcloud_descriptors_filename" default="" />
	<arg name="reference_pointcloud_descriptors_save_filename" default="" />



<!-- 	<node pkg="dynamic_robot_localization" type="drl_localization_node" name="drl_localization_node" output="screen" launch-prefix="gdbserver localhost:1337"> -->
	<node pkg="dynamic_robot_localization" type="drl_localization_node" name="drl_localization_node" ns="dynamic_robot_localization" output="screen">
		<rosparam command="load" file="$(find dynamic_robot_localization)/yaml/schema/drl_configs.yaml" subst_value="true" />


		<!-- =============== reference point cloud =============== -->
		<param name="reference_pointclouds/reference_pointcloud_filename" type="str" value="$(arg reference_pointcloud_filename)" /> 											<!-- default: empty -->
		<param name="reference_pointclouds/reference_pointcloud_preprocessed_save_filename" type="str" value="$(arg reference_pointcloud_preprocessed_save_filename)" /> 		<!-- default: empty -->
		<param name="reference_pointclouds/reference_pointcloud_keypoints_filename" type="str" value="$(arg reference_pointcloud_keypoints_filename)" /> 						<!-- default: empty -->
		<param name="reference_pointclouds/reference_pointcloud_keypoints_save_filename" type="str" value="$(arg reference_pointcloud_keypoints_save_filename)" /> 			<!-- default: empty -->
		<param name="reference_pointcloud_descriptors_filename" type="str" value="$(arg reference_pointcloud_descriptors_filename)" /> 					<!-- default: empty -->
		<param name="reference_pointcloud_descriptors_save_filename" type="str" value="$(arg reference_pointcloud_descriptors_save_filename)" /> 		<!-- default: empty -->


		<!-- =============== pipeline =============== -->
		<param name="filter_reference_cloud" type="bool" value="true" />															<!-- default: true -->
		<param name="compute_normals_reference_cloud" type="bool" value="false" />													<!-- default: true -->
		<param name="compute_normals_ambient_cloud" type="bool" value="false" />													<!-- default: true -->
		<param name="detect_keypoints_reference_cloud" type="bool" value="false" />													<!-- default: true -->
		<param name="detect_keypoints_ambient_cloud" type="bool" value="false" />													<!-- default: true -->
		<param name="match_only_keypoints" type="bool" value="false" /> 															<!-- default: false -->
		

		<!-- =============== VoxelGrid -->
		<param name="leaf_size_x" type="double" value="0.05" />																		<!-- default: 0.01 -->
		<param name="leaf_size_y" type="double" value="0.05" />																		<!-- default: 0.01 -->
		<param name="leaf_size_z" type="double" value="0.05" />																		<!-- default: 0.01 -->
		<param name="filter_limit_field_name" type="str" value="z" />
		<param name="filter_limit_min" type="double" value="-0.47" />
		<param name="filter_limit_max" type="double" value="1.8" />
		<param name="voxel_grid_filtered_cloud_publish_topic" type="str" value="filtered_pointcloud" /> 							<!-- default: empty -->


		<!-- =============== normal estimation =============== -->
		<param name="search_k" type="int" value="0" />	 																			<!-- default: 0 -->
		<param name="search_radius" type="double" value="0.25" /> 																	<!-- default: 0.12 -->


		<!-- =============== keypoint detection =============== -->
		<param name="iss3_keypoints_cloud_publish_topic" type="str" value="ambient_keypoints" />
		<param name="salient_radius" type="double" value="0.18" /> 																	<!-- default: 0.06 -->
		<param name="non_max_radius" type="double" value="0.12" /> 																	<!-- default: 0.04 -->
		<param name="normal_radius" type="double" value="0.09" /> 																	<!-- default: 0.04 -->
		<param name="border_radius" type="double" value="0.0" />


		<!-- =============== initial alignment =============== -->
		<param name="min_sample_distance" type="double" value="1.0" />
		<param name="similarity_threshold" type="double" value="0.5" />
		<param name="inlier_fraction" type="double" value="0.15" />
		<param name="number_of_samples" type="int" value="5" /> 																	<!-- default: 3 -->
		<param name="correspondence_randomness" type="int" value="40" /> 															<!-- default: 10 -->


		<!-- =============== feature description =============== -->
		<param name="keypoint_descriptor" type="str" value="" />
		<param name="feature_descriptor_k_search" type="int" value="0" /> 															<!-- default: 10 -->
		<param name="feature_descriptor_radius_search" type="double" value="0.2" />
		
		<!-- FPFH -->
		<param name="number_subdivisions_f1" type="int" value="11" />
		<param name="number_subdivisions_f2" type="int" value="11" />
		<param name="number_subdivisions_f3" type="int" value="11" />
		
		<!-- SHOT -->
		<param name="lrf_radius" type="double" value="0.2" />
		
		<!-- 3DSC + USC -->		
		<param name="minimal_radius" type="double" value="0.2" />
		<param name="point_density_radius" type="double" value="0.4" />
		
		<!-- USC -->
		<param name="local_radius" type="double" value="0.2" />		


		<!-- =============== registration =============== -->
		<param name="final_registration" type="str" value="IterativeClosestPoint" />
		<param name="ignore_height_corrections" type="bool" value="false" />															<!-- default: false -->
		<param name="use_reciprocal_correspondences" type="bool" value="true" />
		<param name="max_correspondence_distance" type="double" value="0.05" />
		<param name="transformation_epsilon" type="double" value="1e-6" />
		<param name="euclidean_fitness_epsilon" type="double" value="1e-5" />
		<param name="max_number_of_registration_iterations" type="int" value="200" />
		<param name="max_number_of_ransac_iterations" type="int" value="200" />
		<param name="ransac_outlier_rejection_threshold" type="double" value="0.05" />


		<!-- =============== transformation validator =============== -->
		<param name="max_transformation_angle" type="double" value="0.4" />
		<param name="max_transformation_distance" type="double" value="0.035" />
		<param name="max_new_pose_diff_angle" type="double" value="0.6" />
		<param name="max_new_pose_diff_distance" type="double" value="0.2" />
		<param name="max_alignment_fitness" type="double" value="3.0" />
		<param name="max_outliers_percentage" type="double" value="0.7" /> 																<!-- default: 0.6 -->


		<!-- =============== outlier detection =============== -->
		<param name="outlier_detector" type="str" value="EuclideanOutlierDetector" />
		<param name="aligned_pointcloud_outliers_publish_topic" type="str" value="aligned_pointcloud_outliers" />
		<param name="max_inliers_distance" type="double" value="0.01" />



		<!-- ############### debugging ############### -->
		<param name="display_normals" type="bool" value="false" />
		<param name="display_cloud_aligment" type="bool" value="false" />
		<param name="display_feature_matching" type="bool" value="false" /> 															<!-- default: false -->
		<param name="number_maximum_displayed_correspondences" type="int" value="0" />
	</node>
</launch>