<?xml version="1.0" encoding="UTF-8"?>
<launch>
	<!-- ======================================================= arguments ==================================================== -->
	<arg name="yaml_configuration_filters_filename" default="$(find dynamic_robot_localization)/yaml/configs/filters_2d.yaml" />
	<arg name="yaml_configuration_filename" default="$(find dynamic_robot_localization)/yaml/configs/pose_tracking/static_2d.yaml" />
	<arg name="yaml_configuration_recovery_filename" default="$(find dynamic_robot_localization)/yaml/configs/pose_recovery/recovery_2d.yaml" />
	<arg name="reference_pointcloud_filename" default="" />
	<arg name="reference_pointcloud_preprocessed_save_filename" default="" />
	<arg name="reference_pointcloud_keypoints_filename" default="" />
	<arg name="reference_pointcloud_keypoints_save_filename" default="" />
	<arg name="reference_pointcloud_descriptors_filename" default="" />
	<arg name="reference_pointcloud_descriptors_save_filename" default="" />
	<arg name="robot_initial_x" default="0.0" />
	<arg name="robot_initial_y" default="0.0" />
	<arg name="robot_initial_z" default="0.0" />
	<arg name="robot_initial_roll" default="0.0" />
	<arg name="robot_initial_pitch" default="0.0" />
	<arg name="robot_initial_yaw" default="0.0" />
	<arg name="use_laser_assembler" default="1" />
	<arg name="laser_scan_topics" default="/tilt_scan" />
	<arg name="number_of_scans_to_assemble_per_cloud" default="5" />
	<arg name="timeout_for_cloud_assembly" default="0.5" />
	<arg name="use_dynamic_map_update" default="0" />
	<arg name="octomap_file" default="" />


	<!-- ==================================================== localization system ============================================= -->
	<include file="$(find dynamic_robot_localization)/launch/dynamic_robot_localization.launch">
		<arg name="yaml_configuration_filters_filename" default="$(arg yaml_configuration_filters_filename)" />
		<arg name="yaml_configuration_filename" default="$(arg yaml_configuration_filename)" />
		<arg name="yaml_configuration_recovery_filename" default="$(arg yaml_configuration_recovery_filename)" />
		<arg name="reference_pointcloud_filename" value="$(arg reference_pointcloud_filename)" />
		<arg name="reference_pointcloud_preprocessed_save_filename" value="$(arg reference_pointcloud_preprocessed_save_filename)" />
		<arg name="reference_pointcloud_keypoints_filename" value="$(arg reference_pointcloud_keypoints_filename)" />
		<arg name="reference_pointcloud_keypoints_save_filename" value="$(arg reference_pointcloud_keypoints_save_filename)" />
		<arg name="reference_pointcloud_descriptors_filename" value="$(arg reference_pointcloud_descriptors_filename)" />
		<arg name="reference_pointcloud_descriptors_save_filename" value="$(arg reference_pointcloud_descriptors_save_filename)" />
	</include>


	<!-- map to odom publisher -->
	<include file="$(find dynamic_robot_localization)/launch/pose_to_tf_publisher.launch">
		<arg name="initial_x" default="$(arg robot_initial_x)" />
		<arg name="initial_y" default="$(arg robot_initial_y)" />
		<arg name="initial_z" default="$(arg robot_initial_z)" />
		<arg name="initial_roll" default="$(arg robot_initial_roll)" />
		<arg name="initial_pitch" default="$(arg robot_initial_pitch)" />
		<arg name="initial_yaw" default="$(arg robot_initial_yaw)" />
	</include>


	<!-- laser assembler -->
	<include file="$(find laserscan_to_pointcloud)/launch/laserscan_to_pointcloud_assembler.launch" ns="dynamic_robot_localization" if="$(arg use_laser_assembler)">
		<arg name="laser_scan_topics" default="$(arg laser_scan_topics)" />
		<arg name="number_of_scans_to_assemble_per_cloud" default="$(arg number_of_scans_to_assemble_per_cloud)" />
		<arg name="timeout_for_cloud_assembly" default="$(arg timeout_for_cloud_assembly)" />
	</include>
	

	<!-- OctoMap for dynamic map update -->
	<group if="$(arg use_dynamic_map_update)">
		<include file="$(find dynamic_robot_localization)/launch/octo_map.launch">
			<arg name="octomap_file" default="$(arg octomap_file)" />
		</include>
	</group>
</launch>
 