<launch>
	<!-- roslaunch arguments -->
	<arg name="debug" default="false" />
	<arg name="gui" default="true" />
	<arg name="map_file" default="$(find robot_localization)/maps/willow_garage.yaml" />
	<param name="/use_sim_time" value="true" />

	<!-- start simulator -->
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="world_name" value="$(find robot_localization)/worlds/guardian_navigation.world" />
		<arg name="debug" value="$(arg debug)" />
		<arg name="gui" value="$(arg gui)" />
		<arg name="paused" value="false" />
		<arg name="use_sim_time" value="true" />
		<arg name="headless" value="false" />
	</include>

	<!-- Load the URDF into the ROS Parameter Server -->
	<param name="robot_description" command="$(find xacro)/xacro.py '$(find guardian_description)/urdf/guardian.urdf.xacro'" />

	<!-- Call a python script to the run a service call to gazebo_ros to spawn a URDF robot -->
	<node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -model guardian -param robot_description" />

	<!-- ros_control guardian launch file -->
	<include file="$(find guardian_control)/launch/guardian_control.launch" />

	<!-- rviz -->
	<node pkg="rviz" type="rviz" name="$(anon rviz)" args="-d $(find robot_localization)/rviz/guardian_localization.rviz" />

	<!-- local navigation -->
	<include file="$(find guardian_navigation)/navigation_local/move_base_local.launch" />

	<!-- global navigation -->
	<include file="$(find guardian_navigation)/navigation_amcl/amcl_guardian.launch" />
	<remap from="cmd_vel" to="guardian_node/command" />


	<!-- <node name="snap_map_icp" pkg="SnapMapICP" type="SnapMapICP" respawn="false" output="screen" /> -->

	<!-- run the map server -->
	<node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)">
		<rospam name="frame_id" value="map" />
	</node>


	<!-- Run move_base -->
	<node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
		<!--remap from="odom" to="robot_pose_ekf/odom_combined" / -->
		<!--remap from="odom" to="odom" / -->
		<rosparam file="$(find guardian_navigation)/navigation_config/costmap_common_params.yaml" command="load" ns="global_costmap" />
		<rosparam file="$(find guardian_navigation)/navigation_config/costmap_common_params.yaml" command="load" ns="local_costmap" />
		<rosparam file="$(find guardian_navigation)/navigation_config/local_costmap_params.yaml" command="load" />
		<rosparam file="$(find guardian_navigation)/navigation_config/global_costmap_params.yaml" command="load" />
		<rosparam file="$(find guardian_navigation)/navigation_config/base_local_planner_params.yaml" command="load" />
	</node>

	<!-- parameters that give you reasonable physics as well as good speed -->
	<!-- needed so that gripper joint stops on objects instead of oscillating forever -->
	<node name="sor_pgs_iters" pkg="dynamic_reconfigure" type="dynparam" args="set gazebo sor_pgs_iters 50" />
	<node name="sor_pgs_w" pkg="dynamic_reconfigure" type="dynparam" args="set gazebo sor_pgs_w 1.0" />
	<node name="time_step" pkg="dynamic_reconfigure" type="dynparam" args="set gazebo time_step 0.001" />
</launch>
