<launch>
	<arg name="gui" default="true" />
	<arg name="map_file" default="$(find robot_localization)/maps/willow_garage.yaml"/>
	<param name="/use_sim_time" value="true" />

	<!-- load world -->
	<node name="gazebo" pkg="gazebo" type="gazebo" args="-u $(find robot_localization)/worlds/navigation.world" respawn="false" output="screen" />

	<!-- start gui -->
	<group if="$(arg gui)">
		<node name="gazebo_gui" pkg="gazebo" type="gui" respawn="false" output="screen" />
	</group>

	<!-- start up robot -->
	<include file="$(find pr2_gazebo)/launch/pr2.launch" />

	<!-- tuck arms -->
	<node name="tuckarm" pkg="pr2_tuckarm" type="tuck_arms.py" args="-l t -r t" />

	<!-- slam -->
	<include file="$(find pr2_2dnav_slam)/pr2_2dnav.launch" />
	<include file="$(find pr2_navigation_slam)/rviz/rviz_move_base_slam.launch" />

  	

  	<!-- run the map server -->
  	<node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />


	<!-- dynamic map generation -->	
	<node name="gmapping_node" pkg="gmapping" type="slam_gmapping" respawn="false">
		<remap to="base_scan" from="scan" />
		<param name="odom_frame" value="odom_combined" />
	</node>	

	<!-- parameters that give you reasonable physics as well as good speed -->
	<!-- needed so that gripper joint stops on objects instead of oscillating forever -->
	<node name="sor_pgs_iters" pkg="dynamic_reconfigure" type="dynparam" args="set gazebo sor_pgs_iters 50" />
	<node name="sor_pgs_w" pkg="dynamic_reconfigure" type="dynparam" args="set gazebo sor_pgs_w 1.0" />
	<node name="time_step" pkg="dynamic_reconfigure" type="dynparam" args="set gazebo time_step 0.001" />
</launch>
